AbstructFactoryPattern/bin/Debug/netcoreapp3.1/AbstructFactoryPattern.deps.json
AbstructFactoryPattern/bin/Debug/netcoreapp3.1/AbstructFactoryPattern.dll
AbstructFactoryPattern/bin/Debug/netcoreapp3.1/AbstructFactoryPattern.pdb
AbstructFactoryPattern/obj/AbstructFactoryPattern.csproj.nuget.cache
AbstructFactoryPattern/obj/AbstructFactoryPattern.csproj.nuget.dgspec.json
AbstructFactoryPattern/obj/AbstructFactoryPattern.csproj.nuget.g.props
AbstructFactoryPattern/obj/AbstructFactoryPattern.csproj.nuget.g.targets
AbstructFactoryPattern/obj/project.assets.json
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.AssemblyInfo.cs
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.AssemblyInfoInputs.cache
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.assets.cache
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.csproj.FileListAbsolute.txt
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.csprojAssemblyReference.cache
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.dll
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.pdb
BuilderPattern/bin/Debug/netcoreapp3.1/BuilderPattern.deps.json
BuilderPattern/bin/Debug/netcoreapp3.1/BuilderPattern.dll
BuilderPattern/bin/Debug/netcoreapp3.1/BuilderPattern.pdb
BuilderPattern/obj/BuilderPattern.csproj.nuget.cache
BuilderPattern/obj/BuilderPattern.csproj.nuget.dgspec.json
BuilderPattern/obj/BuilderPattern.csproj.nuget.g.props
BuilderPattern/obj/BuilderPattern.csproj.nuget.g.targets
BuilderPattern/obj/project.assets.json
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.AssemblyInfo.cs
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.AssemblyInfoInputs.cache
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.assets.cache
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.csproj.FileListAbsolute.txt
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.csprojAssemblyReference.cache
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.dll
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/AbstructFactoryPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/AbstructFactoryPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/BuilderPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/BuilderPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/Design.Main.deps.json
Design.Main/bin/Debug/netcoreapp3.1/Design.Main.dll
Design.Main/bin/Debug/netcoreapp3.1/Design.Main.exe
Design.Main/bin/Debug/netcoreapp3.1/Design.Main.pdb
Design.Main/bin/Debug/netcoreapp3.1/Design.Main.runtimeconfig.dev.json
Design.Main/bin/Debug/netcoreapp3.1/Design.Main.runtimeconfig.json
Design.Main/bin/Debug/netcoreapp3.1/FactoryPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/FactoryPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/ProtoTypePattern.dll
Design.Main/bin/Debug/netcoreapp3.1/ProtoTypePattern.pdb
Design.Main/obj/Design.Main.csproj.nuget.cache
Design.Main/obj/Design.Main.csproj.nuget.dgspec.json
Design.Main/obj/Design.Main.csproj.nuget.g.props
Design.Main/obj/Design.Main.csproj.nuget.g.targets
Design.Main/obj/project.assets.json
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.AssemblyInfo.cs
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.AssemblyInfoInputs.cache
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.assets.cache
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.csproj.CopyComplete
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.csproj.FileListAbsolute.txt
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.csprojAssemblyReference.cache
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.dll
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.exe
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.pdb
FactoryPattern/bin/Debug/netcoreapp3.1/FactoryPattern.deps.json
FactoryPattern/bin/Debug/netcoreapp3.1/FactoryPattern.dll
FactoryPattern/bin/Debug/netcoreapp3.1/FactoryPattern.pdb
FactoryPattern/obj/FactoryPattern.csproj.nuget.cache
FactoryPattern/obj/FactoryPattern.csproj.nuget.dgspec.json
FactoryPattern/obj/FactoryPattern.csproj.nuget.g.props
FactoryPattern/obj/FactoryPattern.csproj.nuget.g.targets
FactoryPattern/obj/project.assets.json
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.AssemblyInfo.cs
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.AssemblyInfoInputs.cache
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.assets.cache
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.csproj.FileListAbsolute.txt
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.csprojAssemblyReference.cache
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.dll
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.pdb
ProtoTypePattern/bin/Debug/netcoreapp3.1/ProtoTypePattern.deps.json
ProtoTypePattern/bin/Debug/netcoreapp3.1/ProtoTypePattern.dll
ProtoTypePattern/bin/Debug/netcoreapp3.1/ProtoTypePattern.pdb
ProtoTypePattern/obj/project.assets.json
ProtoTypePattern/obj/ProtoTypePattern.csproj.nuget.cache
ProtoTypePattern/obj/ProtoTypePattern.csproj.nuget.dgspec.json
ProtoTypePattern/obj/ProtoTypePattern.csproj.nuget.g.props
ProtoTypePattern/obj/ProtoTypePattern.csproj.nuget.g.targets
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.AssemblyInfo.cs
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.AssemblyInfoInputs.cache
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.assets.cache
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.csproj.FileListAbsolute.txt
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.csprojAssemblyReference.cache
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.dll
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.pdb
SinglePattern/obj/project.assets.json
SinglePattern/obj/SinglePattern.csproj.nuget.cache
SinglePattern/obj/SinglePattern.csproj.nuget.dgspec.json
SinglePattern/obj/SinglePattern.csproj.nuget.g.props
SinglePattern/obj/SinglePattern.csproj.nuget.g.targets
SinglePattern/obj/Debug/netcoreapp3.1/SinglePattern.AssemblyInfo.cs
SinglePattern/obj/Debug/netcoreapp3.1/SinglePattern.AssemblyInfoInputs.cache
SinglePattern/obj/Debug/netcoreapp3.1/SinglePattern.assets.cache
SinglePattern/obj/Debug/netcoreapp3.1/SinglePattern.csprojAssemblyReference.cache
AdapterPattern/bin/Debug/netcoreapp3.1/AdapterPattern.deps.json
AdapterPattern/bin/Debug/netcoreapp3.1/AdapterPattern.dll
AdapterPattern/bin/Debug/netcoreapp3.1/AdapterPattern.pdb
AdapterPattern/obj/AdapterPattern.csproj.nuget.cache
AdapterPattern/obj/AdapterPattern.csproj.nuget.dgspec.json
AdapterPattern/obj/AdapterPattern.csproj.nuget.g.props
AdapterPattern/obj/AdapterPattern.csproj.nuget.g.targets
AdapterPattern/obj/project.assets.json
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.AssemblyInfo.cs
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.AssemblyInfoInputs.cache
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.assets.cache
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.csproj.FileListAbsolute.txt
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.csprojAssemblyReference.cache
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.dll
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/AdapterPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/AdapterPattern.pdb
BridgePattern/bin/Debug/netcoreapp3.1/BridgePattern.deps.json
BridgePattern/bin/Debug/netcoreapp3.1/BridgePattern.dll
BridgePattern/bin/Debug/netcoreapp3.1/BridgePattern.pdb
BridgePattern/obj/BridgePattern.csproj.nuget.cache
BridgePattern/obj/BridgePattern.csproj.nuget.dgspec.json
BridgePattern/obj/BridgePattern.csproj.nuget.g.props
BridgePattern/obj/BridgePattern.csproj.nuget.g.targets
BridgePattern/obj/project.assets.json
BridgePattern/obj/Debug/netcoreapp3.1/BridgePattern.AssemblyInfo.cs
BridgePattern/obj/Debug/netcoreapp3.1/BridgePattern.AssemblyInfoInputs.cache
BridgePattern/obj/Debug/netcoreapp3.1/BridgePattern.assets.cache
BridgePattern/obj/Debug/netcoreapp3.1/BridgePattern.csproj.FileListAbsolute.txt
BridgePattern/obj/Debug/netcoreapp3.1/BridgePattern.dll
BridgePattern/obj/Debug/netcoreapp3.1/BridgePattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/BridgePattern.dll
Design.Main/bin/Debug/netcoreapp3.1/BridgePattern.pdb
DecoratorPattern/bin/Debug/netcoreapp3.1/DecoratorPattern.deps.json
DecoratorPattern/bin/Debug/netcoreapp3.1/DecoratorPattern.dll
DecoratorPattern/bin/Debug/netcoreapp3.1/DecoratorPattern.pdb
DecoratorPattern/obj/DecoratorPattern.csproj.nuget.cache
DecoratorPattern/obj/DecoratorPattern.csproj.nuget.dgspec.json
DecoratorPattern/obj/DecoratorPattern.csproj.nuget.g.props
DecoratorPattern/obj/DecoratorPattern.csproj.nuget.g.targets
DecoratorPattern/obj/project.assets.json
DecoratorPattern/obj/Debug/netcoreapp3.1/DecoratorPattern.AssemblyInfo.cs
DecoratorPattern/obj/Debug/netcoreapp3.1/DecoratorPattern.AssemblyInfoInputs.cache
DecoratorPattern/obj/Debug/netcoreapp3.1/DecoratorPattern.assets.cache
DecoratorPattern/obj/Debug/netcoreapp3.1/DecoratorPattern.csproj.FileListAbsolute.txt
DecoratorPattern/obj/Debug/netcoreapp3.1/DecoratorPattern.csprojAssemblyReference.cache
DecoratorPattern/obj/Debug/netcoreapp3.1/DecoratorPattern.dll
DecoratorPattern/obj/Debug/netcoreapp3.1/DecoratorPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/DecoratorPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/DecoratorPattern.pdb
CompositePattern/bin/Debug/netcoreapp3.1/CompositePattern.deps.json
CompositePattern/bin/Debug/netcoreapp3.1/CompositePattern.dll
CompositePattern/bin/Debug/netcoreapp3.1/CompositePattern.pdb
CompositePattern/obj/CompositePattern.csproj.nuget.cache
CompositePattern/obj/CompositePattern.csproj.nuget.dgspec.json
CompositePattern/obj/CompositePattern.csproj.nuget.g.props
CompositePattern/obj/CompositePattern.csproj.nuget.g.targets
CompositePattern/obj/project.assets.json
CompositePattern/obj/Debug/netcoreapp3.1/CompositePattern.AssemblyInfo.cs
CompositePattern/obj/Debug/netcoreapp3.1/CompositePattern.AssemblyInfoInputs.cache
CompositePattern/obj/Debug/netcoreapp3.1/CompositePattern.assets.cache
CompositePattern/obj/Debug/netcoreapp3.1/CompositePattern.csproj.FileListAbsolute.txt
CompositePattern/obj/Debug/netcoreapp3.1/CompositePattern.csprojAssemblyReference.cache
CompositePattern/obj/Debug/netcoreapp3.1/CompositePattern.dll
CompositePattern/obj/Debug/netcoreapp3.1/CompositePattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/CompositePattern.dll
Design.Main/bin/Debug/netcoreapp3.1/CompositePattern.pdb
FacadePattern/obj/Debug/netcoreapp3.1/FacadePattern.AssemblyInfo.cs
FacadePattern/obj/Debug/netcoreapp3.1/FacadePattern.AssemblyInfoInputs.cache
FacadePattern/bin/Debug/netcoreapp3.1/FacadePattern.deps.json
FacadePattern/bin/Debug/netcoreapp3.1/FacadePattern.dll
FacadePattern/bin/Debug/netcoreapp3.1/FacadePattern.pdb
FacadePattern/obj/FacadePattern.csproj.nuget.cache
FacadePattern/obj/FacadePattern.csproj.nuget.dgspec.json
FacadePattern/obj/FacadePattern.csproj.nuget.g.props
FacadePattern/obj/FacadePattern.csproj.nuget.g.targets
FacadePattern/obj/project.assets.json
FacadePattern/obj/Debug/netcoreapp3.1/FacadePattern.assets.cache
FacadePattern/obj/Debug/netcoreapp3.1/FacadePattern.csproj.FileListAbsolute.txt
FacadePattern/obj/Debug/netcoreapp3.1/FacadePattern.csprojAssemblyReference.cache
FacadePattern/obj/Debug/netcoreapp3.1/FacadePattern.dll
FacadePattern/obj/Debug/netcoreapp3.1/FacadePattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/FacadePattern.dll
Design.Main/bin/Debug/netcoreapp3.1/FacadePattern.pdb
BridgePattern/obj/Debug/netcoreapp3.1/BridgePattern.csprojAssemblyReference.cache
SimpleFactoryPattern/obj/project.assets.json
SimpleFactoryPattern/obj/SimpleFactoryPattern.csproj.nuget.cache
SimpleFactoryPattern/obj/SimpleFactoryPattern.csproj.nuget.dgspec.json
SimpleFactoryPattern/obj/SimpleFactoryPattern.csproj.nuget.g.props
SimpleFactoryPattern/obj/SimpleFactoryPattern.csproj.nuget.g.targets
SimpleFactoryPattern/obj/Debug/netcoreapp3.1/SimpleFactoryPattern.AssemblyInfo.cs
SimpleFactoryPattern/obj/Debug/netcoreapp3.1/SimpleFactoryPattern.AssemblyInfoInputs.cache
SimpleFactoryPattern/obj/Debug/netcoreapp3.1/SimpleFactoryPattern.assets.cache
SimpleFactoryPattern/obj/Debug/netcoreapp3.1/SimpleFactoryPattern.csprojAssemblyReference.cache
FlyweightPattern/bin/Debug/netcoreapp3.1/FlyweightPattern.deps.json
FlyweightPattern/bin/Debug/netcoreapp3.1/FlyweightPattern.dll
FlyweightPattern/bin/Debug/netcoreapp3.1/FlyweightPattern.pdb
FlyweightPattern/obj/FlyweightPattern.csproj.nuget.cache
FlyweightPattern/obj/FlyweightPattern.csproj.nuget.dgspec.json
FlyweightPattern/obj/FlyweightPattern.csproj.nuget.g.props
FlyweightPattern/obj/FlyweightPattern.csproj.nuget.g.targets
FlyweightPattern/obj/project.assets.json
FlyweightPattern/obj/Debug/netcoreapp3.1/FlyweightPattern.AssemblyInfo.cs
FlyweightPattern/obj/Debug/netcoreapp3.1/FlyweightPattern.AssemblyInfoInputs.cache
FlyweightPattern/obj/Debug/netcoreapp3.1/FlyweightPattern.assets.cache
FlyweightPattern/obj/Debug/netcoreapp3.1/FlyweightPattern.csproj.FileListAbsolute.txt
FlyweightPattern/obj/Debug/netcoreapp3.1/FlyweightPattern.csprojAssemblyReference.cache
FlyweightPattern/obj/Debug/netcoreapp3.1/FlyweightPattern.dll
FlyweightPattern/obj/Debug/netcoreapp3.1/FlyweightPattern.pdb
SimpleFactoryPattern/bin/Debug/netcoreapp3.1/SimpleFactoryPattern.deps.json
SimpleFactoryPattern/bin/Debug/netcoreapp3.1/SimpleFactoryPattern.dll
SimpleFactoryPattern/bin/Debug/netcoreapp3.1/SimpleFactoryPattern.pdb
SimpleFactoryPattern/obj/Debug/netcoreapp3.1/SimpleFactoryPattern.csproj.FileListAbsolute.txt
SimpleFactoryPattern/obj/Debug/netcoreapp3.1/SimpleFactoryPattern.dll
SimpleFactoryPattern/obj/Debug/netcoreapp3.1/SimpleFactoryPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/FlyweightPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/FlyweightPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/SimpleFactoryPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/SimpleFactoryPattern.pdb
ProxyPattern/bin/Debug/netcoreapp3.1/ProxyPattern.deps.json
ProxyPattern/bin/Debug/netcoreapp3.1/ProxyPattern.dll
ProxyPattern/bin/Debug/netcoreapp3.1/ProxyPattern.pdb
ProxyPattern/obj/project.assets.json
ProxyPattern/obj/ProxyPattern.csproj.nuget.cache
ProxyPattern/obj/ProxyPattern.csproj.nuget.dgspec.json
ProxyPattern/obj/ProxyPattern.csproj.nuget.g.props
ProxyPattern/obj/ProxyPattern.csproj.nuget.g.targets
ProxyPattern/obj/Debug/netcoreapp3.1/ProxyPattern.AssemblyInfo.cs
ProxyPattern/obj/Debug/netcoreapp3.1/ProxyPattern.AssemblyInfoInputs.cache
ProxyPattern/obj/Debug/netcoreapp3.1/ProxyPattern.assets.cache
ProxyPattern/obj/Debug/netcoreapp3.1/ProxyPattern.csproj.FileListAbsolute.txt
ProxyPattern/obj/Debug/netcoreapp3.1/ProxyPattern.csprojAssemblyReference.cache
ProxyPattern/obj/Debug/netcoreapp3.1/ProxyPattern.dll
ProxyPattern/obj/Debug/netcoreapp3.1/ProxyPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/ProxyPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/ProxyPattern.pdb
TemplateMethodPattern/bin/Debug/netcoreapp3.1/TemplateMethodPattern.deps.json
TemplateMethodPattern/bin/Debug/netcoreapp3.1/TemplateMethodPattern.dll
TemplateMethodPattern/bin/Debug/netcoreapp3.1/TemplateMethodPattern.pdb
TemplateMethodPattern/obj/project.assets.json
TemplateMethodPattern/obj/TemplateMethodPattern.csproj.nuget.cache
TemplateMethodPattern/obj/TemplateMethodPattern.csproj.nuget.dgspec.json
TemplateMethodPattern/obj/TemplateMethodPattern.csproj.nuget.g.props
TemplateMethodPattern/obj/TemplateMethodPattern.csproj.nuget.g.targets
TemplateMethodPattern/obj/Debug/netcoreapp3.1/TemplateMethodPattern.AssemblyInfo.cs
TemplateMethodPattern/obj/Debug/netcoreapp3.1/TemplateMethodPattern.AssemblyInfoInputs.cache
TemplateMethodPattern/obj/Debug/netcoreapp3.1/TemplateMethodPattern.assets.cache
TemplateMethodPattern/obj/Debug/netcoreapp3.1/TemplateMethodPattern.csproj.FileListAbsolute.txt
TemplateMethodPattern/obj/Debug/netcoreapp3.1/TemplateMethodPattern.csprojAssemblyReference.cache
TemplateMethodPattern/obj/Debug/netcoreapp3.1/TemplateMethodPattern.dll
TemplateMethodPattern/obj/Debug/netcoreapp3.1/TemplateMethodPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/TemplateMethodPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/TemplateMethodPattern.pdb
CommandPattern/bin/Debug/netcoreapp3.1/CommandPattern.deps.json
CommandPattern/bin/Debug/netcoreapp3.1/CommandPattern.dll
CommandPattern/bin/Debug/netcoreapp3.1/CommandPattern.pdb
CommandPattern/obj/CommandPattern.csproj.nuget.cache
CommandPattern/obj/CommandPattern.csproj.nuget.dgspec.json
CommandPattern/obj/CommandPattern.csproj.nuget.g.props
CommandPattern/obj/CommandPattern.csproj.nuget.g.targets
CommandPattern/obj/project.assets.json
CommandPattern/obj/Debug/netcoreapp3.1/CommandPattern.AssemblyInfo.cs
CommandPattern/obj/Debug/netcoreapp3.1/CommandPattern.AssemblyInfoInputs.cache
CommandPattern/obj/Debug/netcoreapp3.1/CommandPattern.assets.cache
CommandPattern/obj/Debug/netcoreapp3.1/CommandPattern.csproj.FileListAbsolute.txt
CommandPattern/obj/Debug/netcoreapp3.1/CommandPattern.csprojAssemblyReference.cache
CommandPattern/obj/Debug/netcoreapp3.1/CommandPattern.dll
CommandPattern/obj/Debug/netcoreapp3.1/CommandPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/CommandPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/CommandPattern.pdb
IteratorPattern/bin/Debug/netcoreapp3.1/IteratorPattern.deps.json
IteratorPattern/bin/Debug/netcoreapp3.1/IteratorPattern.dll
IteratorPattern/bin/Debug/netcoreapp3.1/IteratorPattern.pdb
IteratorPattern/obj/IteratorPattern.csproj.nuget.cache
IteratorPattern/obj/IteratorPattern.csproj.nuget.dgspec.json
IteratorPattern/obj/IteratorPattern.csproj.nuget.g.props
IteratorPattern/obj/IteratorPattern.csproj.nuget.g.targets
IteratorPattern/obj/project.assets.json
IteratorPattern/obj/Debug/netcoreapp3.1/IteratorPattern.AssemblyInfo.cs
IteratorPattern/obj/Debug/netcoreapp3.1/IteratorPattern.AssemblyInfoInputs.cache
IteratorPattern/obj/Debug/netcoreapp3.1/IteratorPattern.assets.cache
IteratorPattern/obj/Debug/netcoreapp3.1/IteratorPattern.csproj.FileListAbsolute.txt
IteratorPattern/obj/Debug/netcoreapp3.1/IteratorPattern.csprojAssemblyReference.cache
IteratorPattern/obj/Debug/netcoreapp3.1/IteratorPattern.dll
IteratorPattern/obj/Debug/netcoreapp3.1/IteratorPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/IteratorPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/IteratorPattern.pdb
ObserverPattern/obj/ObserverPattern.csproj.nuget.cache
ObserverPattern/obj/ObserverPattern.csproj.nuget.dgspec.json
ObserverPattern/obj/ObserverPattern.csproj.nuget.g.props
ObserverPattern/obj/ObserverPattern.csproj.nuget.g.targets
ObserverPattern/obj/project.assets.json
ObserverPattern/obj/Debug/netcoreapp3.1/ObserverPattern.AssemblyInfo.cs
ObserverPattern/obj/Debug/netcoreapp3.1/ObserverPattern.AssemblyInfoInputs.cache
ObserverPattern/obj/Debug/netcoreapp3.1/ObserverPattern.assets.cache
ObserverPattern/obj/Debug/netcoreapp3.1/ObserverPattern.csprojAssemblyReference.cache
ObserverPattern/bin/Debug/netcoreapp3.1/ObserverPattern.deps.json
ObserverPattern/bin/Debug/netcoreapp3.1/ObserverPattern.dll
ObserverPattern/bin/Debug/netcoreapp3.1/ObserverPattern.pdb
ObserverPattern/obj/Debug/netcoreapp3.1/ObserverPattern.csproj.FileListAbsolute.txt
ObserverPattern/obj/Debug/netcoreapp3.1/ObserverPattern.dll
ObserverPattern/obj/Debug/netcoreapp3.1/ObserverPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/ObserverPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/ObserverPattern.pdb
