AbstructFactoryPattern/bin/Debug/netcoreapp3.1/AbstructFactoryPattern.deps.json
AbstructFactoryPattern/bin/Debug/netcoreapp3.1/AbstructFactoryPattern.dll
AbstructFactoryPattern/bin/Debug/netcoreapp3.1/AbstructFactoryPattern.pdb
AbstructFactoryPattern/obj/AbstructFactoryPattern.csproj.nuget.cache
AbstructFactoryPattern/obj/AbstructFactoryPattern.csproj.nuget.dgspec.json
AbstructFactoryPattern/obj/AbstructFactoryPattern.csproj.nuget.g.props
AbstructFactoryPattern/obj/AbstructFactoryPattern.csproj.nuget.g.targets
AbstructFactoryPattern/obj/project.assets.json
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.AssemblyInfo.cs
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.AssemblyInfoInputs.cache
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.assets.cache
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.csproj.FileListAbsolute.txt
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.csprojAssemblyReference.cache
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.dll
AbstructFactoryPattern/obj/Debug/netcoreapp3.1/AbstructFactoryPattern.pdb
BuilderPattern/bin/Debug/netcoreapp3.1/BuilderPattern.deps.json
BuilderPattern/bin/Debug/netcoreapp3.1/BuilderPattern.dll
BuilderPattern/bin/Debug/netcoreapp3.1/BuilderPattern.pdb
BuilderPattern/obj/BuilderPattern.csproj.nuget.cache
BuilderPattern/obj/BuilderPattern.csproj.nuget.dgspec.json
BuilderPattern/obj/BuilderPattern.csproj.nuget.g.props
BuilderPattern/obj/BuilderPattern.csproj.nuget.g.targets
BuilderPattern/obj/project.assets.json
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.AssemblyInfo.cs
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.AssemblyInfoInputs.cache
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.assets.cache
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.csproj.FileListAbsolute.txt
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.csprojAssemblyReference.cache
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.dll
BuilderPattern/obj/Debug/netcoreapp3.1/BuilderPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/AbstructFactoryPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/AbstructFactoryPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/BuilderPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/BuilderPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/Design.Main.deps.json
Design.Main/bin/Debug/netcoreapp3.1/Design.Main.dll
Design.Main/bin/Debug/netcoreapp3.1/Design.Main.exe
Design.Main/bin/Debug/netcoreapp3.1/Design.Main.pdb
Design.Main/bin/Debug/netcoreapp3.1/Design.Main.runtimeconfig.dev.json
Design.Main/bin/Debug/netcoreapp3.1/Design.Main.runtimeconfig.json
Design.Main/bin/Debug/netcoreapp3.1/FactoryPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/FactoryPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/ProtoTypePattern.dll
Design.Main/bin/Debug/netcoreapp3.1/ProtoTypePattern.pdb
Design.Main/obj/Design.Main.csproj.nuget.cache
Design.Main/obj/Design.Main.csproj.nuget.dgspec.json
Design.Main/obj/Design.Main.csproj.nuget.g.props
Design.Main/obj/Design.Main.csproj.nuget.g.targets
Design.Main/obj/project.assets.json
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.AssemblyInfo.cs
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.AssemblyInfoInputs.cache
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.assets.cache
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.csproj.CopyComplete
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.csproj.FileListAbsolute.txt
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.csprojAssemblyReference.cache
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.dll
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.exe
Design.Main/obj/Debug/netcoreapp3.1/Design.Main.pdb
FactoryPattern/bin/Debug/netcoreapp3.1/FactoryPattern.deps.json
FactoryPattern/bin/Debug/netcoreapp3.1/FactoryPattern.dll
FactoryPattern/bin/Debug/netcoreapp3.1/FactoryPattern.pdb
FactoryPattern/obj/FactoryPattern.csproj.nuget.cache
FactoryPattern/obj/FactoryPattern.csproj.nuget.dgspec.json
FactoryPattern/obj/FactoryPattern.csproj.nuget.g.props
FactoryPattern/obj/FactoryPattern.csproj.nuget.g.targets
FactoryPattern/obj/project.assets.json
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.AssemblyInfo.cs
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.AssemblyInfoInputs.cache
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.assets.cache
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.csproj.FileListAbsolute.txt
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.csprojAssemblyReference.cache
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.dll
FactoryPattern/obj/Debug/netcoreapp3.1/FactoryPattern.pdb
ProtoTypePattern/bin/Debug/netcoreapp3.1/ProtoTypePattern.deps.json
ProtoTypePattern/bin/Debug/netcoreapp3.1/ProtoTypePattern.dll
ProtoTypePattern/bin/Debug/netcoreapp3.1/ProtoTypePattern.pdb
ProtoTypePattern/obj/project.assets.json
ProtoTypePattern/obj/ProtoTypePattern.csproj.nuget.cache
ProtoTypePattern/obj/ProtoTypePattern.csproj.nuget.dgspec.json
ProtoTypePattern/obj/ProtoTypePattern.csproj.nuget.g.props
ProtoTypePattern/obj/ProtoTypePattern.csproj.nuget.g.targets
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.AssemblyInfo.cs
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.AssemblyInfoInputs.cache
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.assets.cache
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.csproj.FileListAbsolute.txt
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.csprojAssemblyReference.cache
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.dll
ProtoTypePattern/obj/Debug/netcoreapp3.1/ProtoTypePattern.pdb
SinglePattern/obj/project.assets.json
SinglePattern/obj/SinglePattern.csproj.nuget.cache
SinglePattern/obj/SinglePattern.csproj.nuget.dgspec.json
SinglePattern/obj/SinglePattern.csproj.nuget.g.props
SinglePattern/obj/SinglePattern.csproj.nuget.g.targets
SinglePattern/obj/Debug/netcoreapp3.1/SinglePattern.AssemblyInfo.cs
SinglePattern/obj/Debug/netcoreapp3.1/SinglePattern.AssemblyInfoInputs.cache
SinglePattern/obj/Debug/netcoreapp3.1/SinglePattern.assets.cache
SinglePattern/obj/Debug/netcoreapp3.1/SinglePattern.csprojAssemblyReference.cache
AdapterPattern/bin/Debug/netcoreapp3.1/AdapterPattern.deps.json
AdapterPattern/bin/Debug/netcoreapp3.1/AdapterPattern.dll
AdapterPattern/bin/Debug/netcoreapp3.1/AdapterPattern.pdb
AdapterPattern/obj/AdapterPattern.csproj.nuget.cache
AdapterPattern/obj/AdapterPattern.csproj.nuget.dgspec.json
AdapterPattern/obj/AdapterPattern.csproj.nuget.g.props
AdapterPattern/obj/AdapterPattern.csproj.nuget.g.targets
AdapterPattern/obj/project.assets.json
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.AssemblyInfo.cs
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.AssemblyInfoInputs.cache
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.assets.cache
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.csproj.FileListAbsolute.txt
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.csprojAssemblyReference.cache
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.dll
AdapterPattern/obj/Debug/netcoreapp3.1/AdapterPattern.pdb
Design.Main/bin/Debug/netcoreapp3.1/AdapterPattern.dll
Design.Main/bin/Debug/netcoreapp3.1/AdapterPattern.pdb
